<title></title>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<%- css('fullcalendar/fullcalendar.css') %>
<%- css('select2/select2.css') %>
<%- css('bootstrap.less') %>
<%- css('style.less') %>
<style>
  .ng-table-pager {display:none;}
</style>
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<%- js('application.js') %>